---
import Picture from '../components/Picture/Picture.vue';
import SanityBlocks from '../components/SanityBlocks/SanityBlocks.vue';
import LayoutBase from './Base.astro';

const { title, image, body, meta, variant } = Astro.props;
---

<LayoutBase variant={variant} title={title} meta={meta}>
  <div class="sp-l-page">
    <div class="sp-l-page__media">
      <Picture {...image} class="sp-l-page__media__picture" loading="eager" variants={['cover']} />
    </div>
    <div class="sp-l-page__body">
      <div class="sp-l-page__body__inner sp-l-flow">
        <h1 class="sp-o-pagetitle">{title}</h1>
        <slot />
        <SanityBlocks blocks={body} />
      </div>
    </div>
  </div>
</LayoutBase>

<style lang="postcss" is:global>
@import '../assets/styles/tools';

.sp-l-page {
  inline-size: 100%;

  @media (--mq-lg) {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-block-size: min-content;
  }
}

.sp-l-page__body {
  padding-block: var(--space-y-6);
  padding-inline: var(--space-x-4);
  position: relative;

  @media (--mq-md) {
    padding-block: var(--space-y-8);
    padding-inline: var(--space-x-8);
  }

  @media (--mq-lg) {
    flex: 1;
    max-inline-size: 50%;
    flex-basis: 50%;
    min-block-size: min-content;
    padding-block: var(--space-y-12);
    padding-inline: var(--space-x-12);
    background-color: var(--color-lightest-grey);
  }
}

.sp-l-page__body__inner {
  max-inline-size: 780px;
  inline-size: 100%;
}

.sp-l-page__media {
  position: relative;
  padding: 0;

  @media (--mq-md) {
    block-size: 50vh;
  }

  @media (--mq-lg) {
    block-size: auto;
  }

  @media (--mq-lg) {
    flex: 1;
    max-inline-size: 50%;
    flex-basis: 50%;
    min-block-size: min-content;
    background-color: var(--color-light-grey);
  }
}

.sp-l-page__media__picture {
  inline-size: 100%;
  block-size: auto;
  display: block;
  position: relative;

  @media (--mq-md) {
    inline-size: 100%;
    block-size: 100%;
  }

  picture,
  img {
    inline-size: 100%;
    block-size: auto;
    display: block;

    @media (--mq-md) {
      position: absolute;
      inset: 0;
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;
    }
  }
}
</style>
