---
import BackLink from '../components/BackLink';
import SanityBlocks from '../components/SanityBlocks';
import LayoutBase from './Base.astro';

const { title, publishedDate, body, meta } = Astro.props;
---

<LayoutBase variant="post" title={title} meta={meta}>
  <article class="sp-l-post">
    <div class="sp-l-post__inner">
      <header class="sp-l-post__header">
        <h1 class="sp-l-post__title">
          {title}
        </h1>
        <p class="sp-l-post__published-date">
          {publishedDate}
        </p>
      </header>
      <div class="sp-l-post__body sp-l-flow">
        <SanityBlocks blocks={body} />
      </div>
    </div>
    <BackLink label="Back to scrapbook" path="/scrapbook" />
  </article>
</LayoutBase>

<style lang="postcss" is:global>
@import '../assets/styles/tools';

.sp-l-post {
  padding-block: var(--space-y-4);
  padding-inline: var(--space-x-4);

  @media (--mq-md) {
    padding-block: var(--space-y-6);
    padding-inline: var(--space-x-6);
  }

  @media (--mq-lg) {
    display: flex;
    flex-direction: row;
    inline-size: 100%;
  }
}

.sp-l-post__inner {
  max-inline-size: 704px;
  margin-inline: auto;
}

.sp-l-post__header {
  padding-block-end: var(--space-y-4);

  @media (--mq-md) {
    padding-block-end: var(--space-y-8);
  }
}

.sp-l-post__title {
  margin-block-end: var(--space-y-4);
  color: var(--color-brand-manhattan);
}

.sp-l-post__published-date {
  font-weight: 700;
}

</style>
