---
import LayoutBase from './Base.astro';
import BackLink from '../components/BackLink/BackLink.vue';
import EtsyButton from '../components/EtsyButton/EtsyButton.vue';
import Picture from '../components/Picture/Picture.vue';

const { title, price, description, url, image, meta } = Astro.props;
---
<LayoutBase variant="product" title={title} meta={meta}>
  <article class="sp-l-product">
    <div class="sp-l-product__inner">
      <figure class="sp-l-product__media">
        <Picture {...image} class="sp-l-product__media__image" loading="eager" />
      </figure>
      <div class="sp-l-product__details">
        <header class="sp-l-product__header">
          <h1 class="sp-l-product__title">
            {title}
          </h1>
          <p class="sp-l-product__price">
            {price}
          </p>
        </header>
        <div class="sp-l-product__actions">
          <EtsyButton href={url} />
        </div>
        <div class="sp-l-product__body sp-l-flow" set:html={description} />
      </div>
    </div>
    <BackLink label="Back to shop" path="/shop" />
  </article>
</LayoutBase>

<style lang="postcss" is:global>
@import '../assets/styles/tools';

.sp-l-product {
  padding: var(--space-y-4) var(--space-x-4);

  @media (--mq-md) {
    padding: var(--space-y-6) var(--space-x-6);
  }

  @media (--mq-lg) {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.sp-l-product__inner {
  width: 100%;
  max-width: 704px;
  margin: 0 auto;

  @media (--mq-xl) {
    max-width: 1080px;
  }
}

.sp-l-product__header {
  padding-bottom: var(--space-y-3);
}

.sp-l-product__title {
  margin-bottom: var(--space-y-2);
  color: var(--color-brand-acapulco);
}

.sp-l-product__price {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

.sp-l-product__actions {
  margin-bottom: var(--space-y-6);
}

.sp-l-product__inner {
  width: 100%;

  @media (--mq-md) {
    display: flex;
  }
}


.sp-l-product__media {
  margin: 0 auto var(--space-y-6);
  width: 100%;
  text-align: center;

  @media (--mq-md) {
    padding-right: var(--space-x-2);
    max-width: none;
    width: 40%;
    min-width: 40%;
    flex-basis: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  @media (--mq-lg) {
    padding-right: var(--space-x-6);
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    border: 0;

    @media (--mq-md) {
      max-height: 100%;
      object-fit: contain;
    }
  }
}


.sp-l-product__details {

  @media (--mq-md) {
    min-width: 60%;
    flex-basis: 60%;
    display: flex;
    padding-left: var(--space-x-2);
    flex-direction: column;
  }

  @media (--mq-lg) {
    padding-left: var(--space-x-2);
  }
}

.sp-l-product__body {
  max-width: 65ch;
}

</style>
