---
import BackLink from '../components/BackLink/BackLink.vue';
import EtsyButton from '../components/EtsyButton/EtsyButton.vue';
import Picture from '../components/Picture/Picture.vue';
import LayoutBase from './Base.astro';

const { title, price, description, url, image, meta } = Astro.props;
---

<LayoutBase variant="product" title={title} meta={meta}>
  <article class="sp-l-product">
    <div class="sp-l-product__inner">
      <figure class="sp-l-product__media">
        <Picture {...image} class="sp-l-product__media__image" loading="eager" />
      </figure>
      <div class="sp-l-product__details">
        <header class="sp-l-product__header">
          <h1 class="sp-l-product__title">
            {title}
          </h1>
          <p class="sp-l-product__price">
            {price}
          </p>
        </header>
        <div class="sp-l-product__actions">
          <EtsyButton href={url} />
        </div>
        <div class="sp-l-product__body sp-l-flow" set:html={description} />
      </div>
    </div>
    <BackLink label="Back to shop" path="/shop" />
  </article>
</LayoutBase>

<style lang="postcss" is:global>
@import '../assets/styles/tools';

.sp-l-product {
  padding-block: var(--space-y-4);
  padding-inline: var(--space-x-4);

  @media (--mq-md) {
    padding-block: var(--space-y-6);
    padding-inline: var(--space-x-6);
  }

  @media (--mq-lg) {
    display: flex;
    flex-direction: row;
    inline-size: 100%;
  }
}

.sp-l-product__inner {
  inline-size: 100%;
  max-inline-size: 704px;
  margin-inline: auto;

  @media (--mq-xl) {
    max-inline-size: 1080px;
  }
}

.sp-l-product__header {
  padding-block-end: var(--space-y-3);
}

.sp-l-product__title {
  margin-block-end: var(--space-y-2);
  color: var(--color-brand-acapulco);
}

.sp-l-product__price {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

.sp-l-product__actions {
  margin-block-end: var(--space-y-6);
}

.sp-l-product__inner {
  inline-size: 100%;

  @media (--mq-md) {
    display: flex;
  }
}

.sp-l-product__media {
  margin-block-end: var(--space-y-6);
  margin-inline: auto;
  inline-size: 100%;
  text-align: center;

  @media (--mq-md) {
    padding-inline-end: var(--space-x-2);
    max-inline-size: none;
    inline-size: 40%;
    min-inline-size: 40%;
    flex-basis: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-block-end: 0;
  }

  @media (--mq-lg) {
    padding-inline-end: var(--space-x-6);
  }

  img {
    inline-size: 100%;
    block-size: auto;
    display: block;
    border: 0;

    @media (--mq-md) {
      max-block-size: 100%;
      object-fit: contain;
    }
  }
}

.sp-l-product__details {
  @media (--mq-md) {
    min-inline-size: 60%;
    flex-basis: 60%;
    display: flex;
    padding-inline-start: var(--space-x-2);
    flex-direction: column;
  }

  @media (--mq-lg) {
    padding-inline-start: var(--space-x-2);
  }
}

.sp-l-product__body {
  max-inline-size: 65ch;
}

</style>
